body{
  height: auto;
  margin: 0;
  padding-bottom: 11vh;
  min-height: 100vh;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: 	#F8F9FB;
  background-size: cover;
}



.header{
  background: 	#F8F9FB;
  display: flex;
  height: 120px;
}

.logo img {
  width: 40%;
  height: auto;
}

nav{
 margin-top: 60px ;
 margin-left: 150px; 
}
.a{
  text-decoration: none;
  color: black;
}

.nav-item{
font-size: 30px;
display: inline;
font-size: 25px;
margin-left: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  margin-left: -10%;
 }
 .footer-text{
  font-family: 'Montserrat', sans-serif;
 }
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   font-family: 'Roboto', sans-serif;
 }
  
 /* body{
   background: url('bg.jpg') no-repeat top center;
   background-size: cover;
   height: 100vh;
 }
   */
 .wrapper{
   position: absolute;
   top: 320px;
   transform: translateY(-50%);
   width: 100%;
   padding: 0 20px;
 }
  
 .contact-form{
   display: flex;
   max-width: 550px;
   margin: 0 auto;
   background: #F8F9FB;
   padding: 30px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0,0,0,0.3);
 }
  
 .input-fields{
   display: flex;
   flex-direction: column;
   margin-right: 4%;
 }
  
 .input-fields,
 .msg{
   width: 48%;
 }
  
 .input-fields .input,
 .msg textarea{
   margin: 10px 0;
   background: transparent;
   border: 0px;
   border-bottom: 2px solid 	#3D8BC9;
   padding: 10px;;
   color: 	#3D8BC9;
   width: 100%;
 }
  
 .msg textarea{
   height: 212px;
 }
  
 ::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
   color: #3D8BC9;
 }
 ::-moz-placeholder {
   /* Firefox 19+ */
   color: #3D8BC9;
 }
 :-ms-input-placeholder {
   /* IE 10+ */
   color: 	#3D8BC9;
 }
  
 .btn {
     background: #3D8BC9;
     text-align: center;
     padding: 15px;
     border-radius: 5px;
     color: #fff;
     cursor: pointer;
     text-transform: uppercase;
     margin-left: 20%;
     width: 150px;
 }
  
 @media screen and (max-width: 600px){
   .contact-form{
     flex-direction: column;
   }
   .msg textarea{
     height: 80px;
   }
   .input-fields,
   .msg{
     width: 100%;
   }
 }